.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #97b1da;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input[type="email"] {
    placeholder: "이메일";
}

input[type="password"] {
    placeholder: "비밀번호";
}

button {
    padding: 10px;
    border: none;
    cursor: pointer;
}
